<%
# Button class black is added only in order to see the element dimensions
%>

<% styleguide_block  '1.1' do %>
<nav class="buttons">
    <a href="#" class="button black half-button">Caption</a>
    <a href="#" class="button white half-button">Caption</a>
</nav>
<% end %>

<% styleguide_block  '1.1.1' do %>
  <nav class="buttons">
    <a href="#" class="button black $modifier_class">Example Button</a>
  </nav>
<% end %>