<% styleguide_block  '2.1' do %>
  <img src="http://placehold.it/1000x350" alt="" />

  <p><strong>Bold text</strong></p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Fugiat, quidem culpa obcaecati vero enim doloribus illum
    veniam voluptatem aut nam ea facilis quisquam tenetur
    velit harum architecto reiciendis vel aliquam.</p>

  <a href="#">Default link</a>

  <h1>Header 1</h1>

  <h2>Header 2</h2>

  <h3>Header 3</h3>

  <h4>Header 4</h4>

  <h5>Header 5</h5>

  <h6>Header 6</h6>
<% end %>