<!DOCTYPE html>
<html>
<head>
  <title>Styleguide Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/equinox.css">
  <link rel="stylesheet" href="/stylesheets/layout.css">
</head>
<body>

  <header>
    Styleguide Example
  </header>

  <div id="wrApper">

    <nav role="main">
      <ul>
        <li><a href="/">0. Overview</a></li>
        <li>
          <a href="/1">1. Navigation</a>
          <ul>
            <li><a href="/1.1">1.1. Buttons navigation</a></li>
            <li><a href="/1.2">1.2. Buttons formats</a></li>
          </ul>
        </li>
        <li>
          <a href="/2">2. Global Elements</a>
          <ul>
            <li><a href="/2.1">2.1. Standard tags</a></li>
            <li><a href="/2.2">2.2. States</a></li>
          </ul>
        </li>
        <!-- <li><a href="/3">3. Text Styling</a></li>
        <li><a href="/4">4. Listings</a></li>
        <li><a href="/5">5. Icons</a></li>
        <li><a href="/6">6. Navigation</a></li>
        <li><a href="/7">7. Colors</a></li>
        <li><a href="/8">8. Alerts</a></li>
        MODULES
      -->
      </ul>
    </nav>

    <%= yield %>

  </div><!-- /#wrApper -->

  <script src="/javascripts/kss.js"></script>

</body>
</html>
